<h1>Tabla de registros de evaluaciones de sonidos   </h1>




<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th scope="col">Búsqueda por cualquiera de los campos de la tabla</th>
      <th><input class="form-control" type="text" placeholder="Búsqueda"[(ngModel)]="searchText"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>

    </tr>
    <tr>
      <th scope="col">Entrada</th>
      <th scope="col">Nombre Común Ave</th>
      <th scope="col">Confianza</th>
      <th scope="col">Fecha y Hora</th>
      <th scope="col">Eliminar</th>

    </tr>
  </thead>



  <tbody>

    <tr *ngFor="let data of datas | search: searchText |paginate: { itemsPerPage: 10, currentPage: p }">
      <th scope="row">{{data.id_data}}</th>
      <td>{{data.commonName}}</td>
      <td>{{data.confidence}}</td>
      <td>{{data.datetime}}</td>
        <td><button type="button" class="button-defect2" (click)="openModal(content,data.id_data)">Eliminar</button></td>
    </tr>
    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior"
    nextLabel="Siguiente"></pagination-controls>

  </tbody>
</table>







  <button type="button" class="button-defect" ><a class="nav-link" [routerLink]="'/tables'" >Volver</a></button>



  <ng-template #content let-modal>
    <div class = "container">
      <h1>¿Seguro que quieres eliminar el registro? Este cambio es irreversible</h1>
    </div>
    <div class = "container-modal" >
      
        <button type="button" class="button-defect2" (click)="onDelete(id_data)">Eliminar</button>


    </div>
  
    

    
    <div class="modal-footer">
        <button type="button" 
            class="btn btn-outline-dark" 
            (click)="closeModal()">
            Cerrar
        </button>
    </div>
</ng-template>
  

<div class="espacio"></div>
