
<h1>Tabla de registros de aves </h1>
  <ngx-spinner> 
  
    <div class="container-spinner" id="spinner">
      <h1>Estamos buscando algo de información de este ave, espera unos segundos por favor </h1>
      <div class="spinner-border"></div>

    </div>

  </ngx-spinner>

  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th scope="col">Búsqueda por cualquiera de los campos de la tabla</th>
        <th><input class="form-control" type="text" placeholder="Búsqueda"[(ngModel)]="searchText"></th>
        <th scope="col"></th>
        <th scope="col"></th>

      </tr>
      <tr>
        <th scope="col">Entrada</th>
        <th scope="col">Nombre Común Ave</th>
        <th scope="col">Código de especie</th>
        <th scope="col">Más información</th>
      </tr>
    </thead>



    <tbody>

      <tr *ngFor="let bird of birds | search: searchText | paginate: { itemsPerPage: 10, currentPage: p }">
        <td>{{bird.id_bird}}</td>
        <td>{{bird.name}}</td>
        <td>{{bird.speciesCode}}</td>
        <td><button class="button-defect" role="button" (click)="onInfoBird(content,bird.name)"> Más información</button></td>
      </tr>
      <pagination-controls (pageChange)="p = $event" previousLabel="Anterior"
      nextLabel="Siguiente"></pagination-controls>
    </tbody>
  </table>


  <button type="button" class="button-defect" ><a class="nav-link" [routerLink]="'/tables'" >Volver</a></button>



  <ng-template #content let-modal>
    
    
    <div class = "container" id = "modal-footer">
        <h1>Esta es a información del pájaro "{{birdInfo}}"</h1>
           <p>{{birdInformation}}</p>

         <div class="container">

            <button class="button-defect" role="button">  <a class="nav-link" href ="{{birdPhotoUrl}}" target="_blank">Haz Click aquí para ver una imagen del pájaro {{birdInfo}}</a></button>
    
            <button class="button-defect" role="button">  <a  class="nav-link" href ="{{birdSoundUrl}}" target="_blank">Haz Click aquí para ver regiones y grabaciones donde se encuentra el pájaro {{birdInfo}}</a></button>
        
        </div>
      
    </div>



    <div class="modal-footer">
        <button type="button" 
            class="btn btn-outline-dark" 
            (click)="closeModal()">
            Cerrar
        </button>
    </div>
</ng-template>



