
<h1>Tabla de registros de aves </h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Entrada</th>
        <th scope="col">Nombre Común Ave</th>
        <th scope="col">Código de especie</th>
        <th scope="col">Más información</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bird of birds | paginate: { itemsPerPage: 10, currentPage: p }">
        <td>{{bird.id_bird}}</td>
        <td>{{bird.name}}</td>
        <td>{{bird.speciesCode}}</td>
        <button class="button-defect" role="button" (click)="onInfoBird(content,bird.name)"> Más información</button>
      </tr>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>

    </tbody>
  </table>

  <button type="button" class="button-defect" ><a class="nav-link" [routerLink]="'/tables'" >Volver</a></button>
<ngx-spinner> 
  
  <div class="container">
    <h1>Estamos buscando algo de información de este ave, espera unos segundos por favor...</h1>
  </div>
  


  </ngx-spinner>


  <ng-template #content let-modal>
    
    
    <div class = "container" id = "modal-footer">
        <h1>Esta es a información del pájaro "{{birdInfo}}"</h1>
           <p>{{birdInformation}}</p>

         <div class="container">

            <button class="button-defect" role="button">  <a class="nav-link" href ="{{birdPhotoUrl}}">Haz Click aquí para ver una imagen del pájaro {{birdInfo}}</a></button>
    
            <button class="button-defect" role="button">  <a  class="nav-link" href ="{{birdSoundUrl}}">Haz Click aquí para ver regiones y grabaciones donde se encuentra el pájaro {{birdInfo}}</a></button>
        
        </div>
      
    </div>



    <div class="modal-footer">
        <button type="button" 
            class="btn btn-outline-dark" 
            (click)="closeModal()">
            close
        </button>
    </div>
</ng-template>
