
<div class="card mb-23" id="contenedorCabecera">
    <img src="./assets/logo-ETSII-US-Horizontal-Color.png" class="card-img-top" alt="..." id = "imagenTarjeta1">
    <div class="card-body">
        <h1 class="card-title">Identificación de aves a partir del sonido</h1>
        <h2>Trabajo Fin de Grado</h2>
        <h3>Jesús Vena Campos</h3>

    </div>

    
  </div>


  <div class="container">
    <h4>Más sobre este trabajo:</h4>
    <h5>Más sobre este trabajo:</h5>
    En primer lugar, les contaremos sobre la parte que "no vemos", digo que no vemos por que no se muestra de cara al usuario final, pero que está ahí dentro realmente.
    Esta parte se encuentra formada por 3 módulos los llamaremos.
    El primer módulo es un modelo de Inteligencia Artificial realizado con lenguaje Python, por The Cornell Lab.
    A este módulo le hemos incluido diversos ficheros nuevos de modo que podamos usarlo con el fin esperado de este trabajo, por que se desarollaron ficheros que nos permitieses lo siguiente:
    1.Capturar el sonido de un micrófono que nos permita
  </div>

  
  <div class="container">
    <button type="button" class="button-defect" (click)="onClick1()">Ejecutar la aplicación</button>
  </div>

  
  

