h1,h2,h3{
    text-align: center;
}

img{
    align-items: center;
    text-align: center;
    max-width: 100%;
    width: 500px;  
}

#imagenTarjeta1{
    width: 500px;
    display: block;
    margin: auto;
    padding: 10px;

    
}

#contenedorCabecera{
    border: 0;
}