
<div class="card mb-23" id="contenedorCabecera">
    <img src="./assets/logo-ETSII-US-Horizontal-Color.png" class="card-img-top" alt="..." id = "imagenTarjeta1">
    <div class="card-body">
        <h1 class="card-title">Identificación de aves a partir del sonido</h1>
        <h2>Trabajo Fin de Grado</h2>
        <h3>Jesús Vena Campos</h3>

    </div>

    
  </div>


  <div class="container">
    <h3>Más sobre este trabajo:</h3>
<h4>Este proyecto ha sido realizado como trabajo de fin de grado por el alumno Jesús Vena Campos para la obtención del título del grado en Ingeniería Informática por la Universidad de Sevilla,
  este trabajo se compone de dos grandes bloques, ambos conectados, en primer lugar un sistema que cuenta con un modelo de inteligencia artificial que identifica las aves a partir del canto de estas, además se han desarrollado ciertas funcionalidades que dotan de mayor valor a este modelo, como que hemos elaborado un proceso iterativo de modo que se grabe el audio del micrófono de la máquina en la que estamos ejecutando la aplicación, el posterior análisis de ese audio mediante el modelo y por último el guardado de los datos en una base de dato.
  El otro bloque de esta aplicación está formado por esta aplicación web, que ha sido desarollada para mostrar los datos de una manera más cómoda y sencilla, mediante tablas y gráficas, además de añadir ciertas funcionalidades nuevas como la integración de los datos de la tabla de aves con la api de OpenAI, que nos permite buscar en el instante los datos de un ave en concreto.
</h4> 

  </div>

  
  <div class="container">
    <button type="button" class="button-defect" (click)="onClick1()">Ejecutar la aplicación</button>
  </div>

  <label id="countdown"></label>
  

